.gradle/*
build/*
setenv.sh
/.gradle/
.classpath
.project
.pydevproject
.settings/
bin/
__pycache__
/build/
WEB-INF/*
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.vscode/launch.json
.vscode/settings.json
.idea/.gitignore
!src/main/bin/
