.gradle/*
build/*
setenv.sh
/.gradle/
.classpath
.project
.pydevproject
.settings/
!src/main/bin/
/bin
__pycache__
/build/
WEB-INF/*
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.vscode/launch.json
.vscode/settings.json
.idea/.gitignore
.temp*

/.idea/
report.txt
log
.DS_Store
src/main/bin/NCIT_HISTORY/
