#
# Spring Properties
#
spring:
    #
    # Application Properties
    #
    application:
        name: nci-evs-api
    profiles:
      include: thesaurus
    #
    # JSON Formatting Properties
    #
    jackson:
        serialization:
            INDENT_OUTPUT: true

management:
  endpoints:
    web:
      exposure:
        include: heapdump,liquibase,loggers,prometheus,threaddump,info,metrics,health

info:
    app:
        name: NCI EVS API
        version: 1.0.0.RELEASE

#
# Logging Properties
#
logging:
    level:
        org.springframework: WARN
        gov.nih.nci.evs.api: INFO
        org.springframework.data.elasticsearch.core: INFO

#
# Server Properties
#
server:
    port: 8080
    servlet:
       context-path: /
       session:
        persistent: false

nci:
  evs:
    application:
      contextPath: /api/v1
      generatedFilePath: ${user.home}/apps/evsrestapi/data/
      forceFileGeneration: false
      metricLogDirectory: ${user.home}/apps/evsrestapi/logs/
    bulkload:
      conceptsDir: ${NCI_EVS_BULK_LOAD_CONCEPTS_DIR:/tmp/}
      lockFile: ${NCI_EVS_BULK_LOAD_LOCK_FILE_NAME:DownloadSuccessfull.lck}
      downloadBatchSize: ${NCI_EVS_BULK_LOAD_DOWNLOAD_BATCH_SIZE:1000}
      indexBatchSize: ${NCI_EVS_BULK_LOAD_INDEX_BATCH_SIZE:1000}
    stardog:
      host: ${STARDOG_HOST:localhost}
      port: ${STARDOG_PORT:5820}
      queryUrl: http://${nci.evs.stardog.host}:${nci.evs.stardog.port}/NCIT2/query
      username: admin
      password: admin
      readTimeout: 30000
      connectTimeout: 30000
      populateCacheCron: 0 0 1 * * *
      forcePopulateCache: N
    elasticsearch:
      server:
        host: ${ES_HOST:localhost}
        port: ${ES_PORT:9300}
        clusterName: ${ES_CLUSTER_NAME:docker-cluster}

swagger:
   documentation:
       hostURL:  http://localhost:8080
       searchAPIOperation: Searches for the term or phrase using the Elastic Search mechanism
